.content{
    background-color: rgb(40, 46, 83);
    width:100%;
    height:100%;
    overflow:hidden;
    .Loginpra{
      width: 100%;
      height: 100%;
      position:absolute;
      left: 0;
      top: 0;
      background-color: transparent;
      // background-color: red;
      .Loginrow{
        position: relative;
        top: 50%;
        transform:translate(0, -50%) ;
      }
    }
  }


  .proTitle{
    width: 100%;
    margin:50px 20px;
    display:flex;
    flex-direction: column;
    font-Size:30px;
    font-Weight:510;
    color:#444CCC;
    span{
      padding: 3px;
      font-family: alimama;
    }
  }