.containerLogin{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translate( 0, -50% );
}
.proForm{
  border-top:1rem solid #444CCC !important;
  height: 65rem;
  .form_style{
    .form-item {
      label{
        font-size: 2rem;
      }
    }
  }
  .ant-input{
    font-size: 3rem !important;
  }
  .proTitle{
    margin: 2rem .5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-Size: 3rem;
    font-Weight:510;
    color:#444CCC;
    span{
      padding: 1rem;
      font-family: alimama;
    }
  }
}
  