.layout{
  // color: @bgColor;
  display: flex;
  flex-direction:column;
  height: 100vh;
  &--ceshi{
    color: #fff;
  }
  .aside{
    width: 200px;
    background-color: aqua;
    flex: 1;
    // flex-shrink: 0;
  }
  .main{
    flex: 1;
    background-color: aliceblue;
    padding: 10px;
  }
}